@model SalesManagementApplication.Models.HomePageNew
@{
    ViewBag.Title = "Home Page";
}


<br />
<hr />
<div class="row">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TotalSellers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalSellers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalSales)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalSales)
        </dd>
    </dl>
</div>